@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* done */

*, *:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* done */
html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
/* done */
.wrapper{}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
/* done */



.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: 2;
}/* done */


.header_body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}/* done */

.header_logo{
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}/* done */

.header_logo>img{
    max-width: 100%;
    display: block;
}/* done */
.header_burger{
    display: none;
}/* done */
.header_menu{}

.header_list{
    display: flex;
    position: relative;
    z-index: 2;
}/* done */
.header_list>li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}/* done */
.header_link{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}/* done */

.content{
    padding: 100px 0px 0px 0px;
}/* done */
.content_text{
    font-size: 18px;
    line-height: 25px;
}/* done */
.content_text>p {
    margin: 0px 0px 20px 0px;
}/* done */
#first_page_img {
    width: auto;
}


@media(max-width: 900px){
    body.lock{
        overflow: hidden;
    }
    .header_body {
        height: 50px;
    }
    .header_logo {
        flex: 0 0 40px;
    }
    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }/* done */
    .header_burger span{
        /* content: ""; */
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }/* done */
    .header_burger:before, .header_burger:after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }/* done */
    .header_burger:before{
        top: 0;
    }/* done */
    .header_burger:after{
        bottom: 0;
    }/* done */
    .header_burger.active span{
        transform: scale(0);
    }/* done */
    .header_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }/* done */
    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }/* done */
    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
        padding: 70px 10px 20px 10px;  
        transition: all 0.3s ease 0s;  
    }
    .header_menu.active{
        top: 0;
    }
    .content {
        position: relative;
        padding: 70px 0px 0px 0px;
    }
    .content_text {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .header_list{
        display: block;
        float: none;
    }
    .header_list li {
        margin: 0px 0px 20px 0px;
    }
    .header_link{
        font-size: 24px;
    }
    .name_site {
        background-color: black;
        color: white;
        text-align: center;
        font-size: 20px;
        position: relative;
        display: flex;
        z-index: 2;
    }

}

